body,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(128, 128, 128);
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(252, 251, 251, 0.349);
  border-radius: 9px;
}
#logo {
  font-size: 1.5rem;
  font-weight: bold;
}
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000e3;
}
#menu {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
  }
  #menu {
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    display: block;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    height: 0px;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: grey;
    gap: 0.5rem;
  }
  #hamburguer {
    width: 20px;
    border-top: 2px solid;
    color: grey;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
